<div class="container mt-3 text-center">
  <h1>你想對誰講幹話？</h1>
  <form action="/" method="POST">
    <div class="form-group row mt-3 justify-content-center">
      {{#each careers}}
      <div class="form-check col-5 col-md-3 mx-1 px-0 border rounded">
        <label for="{{this.name}}"><img
            src="{{this.image}}"
            alt="{{this.name}}"></label>
        <input type="radio" name="target" id="{{this.name}}" value="{{this.name}}">
        <label class="form-check-label" for="{{this.name}}">{{this.name_zh}}</label>
      </div>
      {{/each}}
      
      <button type="submit" class="btn btn-primary col-9 mt-3">產生幹話</button>
      <textarea name="dryTalkGenerator" id="dryTalkGenerator" class="form-control col-9 mt-3">{{#if dryTalk}}{{dryTalk}}{{/if}}</textarea>
    </div>
    
    
  </form>
</div>
{{#if option.target}}
<script>
  document.querySelector(`input[value = "{{option.target}}"]`).checked = true
</script>
{{/if}}